################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/LR1Parser/obj
/LR1Parser/bin
/Test/obj
/Test/bin
